/* Colors variables
   ========================================================================== */
/* Font variables
   ========================================================================== */
.pane-ding-item-list-recommendations {
  margin: 10px 0;
}

.layout-wrapper .pane-ding-item-list,
.layout-wrapper .pane-ding-item-list-static {
  background-color: transparent;
  padding: 0;
}

.ding-item-list-item {
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px dashed #ccc;
}
.ding-item-list-item .item-cover {
  float: left;
}
.ding-item-list-item .item-details {
  margin-left: 65px;
}
.ding-item-list-item .item-details .item-author {
  font-size: 90%;
}
.ding-item-list-item .item-details .item-title a {
  font-size: 16px;
  font-weight: 600;
}
.ding-item-list-item .item-details .reserve-button {
  display: inline-block;
}
.ding-item-list-item .item-details .reserve-button:hover {
  background-color: #808285;
  color: #fff;
}
.ding-item-list-item .item-details .item-loan a {
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  padding: 7px 7px 5px 7px;
  margin-right: 6px;
  margin-left: 0;
  margin-bottom: 0;
}

.pane-ding-item-list .ding-item-list-item .item-loan .action-button.other-formats {
  display: none;
}

.buttons.dlab-breakout-button {
  width: 30%;
  float: left;
  list-style: none;
  z-index: 10;
}
.buttons.dlab-breakout-button li {
  border-left: 1px solid #acacac;
  border-right: 1px solid #acacac;
}
.buttons.dlab-breakout-button li:first-child {
  border-top: 1px solid #acacac;
}
.buttons.dlab-breakout-button li:last-child {
  border-bottom: 1px solid #acacac;
}
.buttons.dlab-breakout-button .list-title {
  float: left;
  color: #262627;
  font-family: FaktPro-SemiBold,sans-serif;
  width: 50%;
  line-height: 24px;
  word-break: break-all;
}
.buttons.dlab-breakout-button .add-to-list-button {
  background: #ccc;
  float: right;
  padding-right: 15px;
  min-width: 170px;
}
.buttons.dlab-breakout-button .add-to-list-button:hover {
  background-color: #808285;
}

.buttons.dlab-breakout-button li:nth-child(2n+1) {
  width: 100%;
  top: 560px;
  background-color: #e5e5e5;
  display: block;
}

.buttons.dlab-breakout-button li {
  width: 100%;
  float: left;
  padding: 20px;
  background-color: #fff;
  display: block;
}
