@import "susy";

/* Colors variables
   ========================================================================== */

$white:                   #fff;
$dark-gray:               #ccc;
$darker-gray:             #333;
$light-gray:              #dadada;
$lighter-gray:            #e5e5e5;
$gray:                    #ccc;
$black:                   #000;
$gray-transparent-bg:     rgba( 0, 0, 0, 0.7);
$button-box-shadow:       0 0 1px lighten($black, 35%) inset;

/* Font variables
   ========================================================================== */

$base-font-size:                  16px;
$font-size-reset:                 100%;
$font-size-small:                 90%;
$base-font-weight-bold:           600;


%button {
  border-radius: 10px;

  display: inline-block;
  font-size: 100%;
  padding: 10px;
  position: relative;

  box-shadow: $button-box-shadow;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    opacity: 0.65;
    box-shadow: none;

    cursor: default;
  }
}

.pane-ding-item-list-recommendations {
  margin: 10px 0;
}

.layout-wrapper .pane-ding-item-list,
.layout-wrapper .pane-ding-item-list-static {
  background-color: transparent;
  padding: 0;
}

.ding-item-list-item {
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px dashed $gray;

  .item-cover {
    float: left;
  }

  .item-details {
    margin-left: 65px;

    .item-author {
      font-size: $font-size-small;
    }

    .item-title a {
      font-size: $base-font-size;
      font-weight: $base-font-weight-bold;
    }

    .action-button {
      display: inline-block;

      &:hover {
        background-color: #808285;
        color: #fff;
      }
    }

    .item-loan {
      display: inline-block;
      a {
        font-size: $font-size-reset;
        font-family: inherit;
        line-height: inherit;
        padding: 7px 7px 5px 7px;
        margin-right: 6px;
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }
}

.pane-ding-item-list .ding-item-list-item {
  .item-loan {
    .action-button.other-formats {
      display: none;
    }
  }
}

.buttons.dlab-breakout-button {
  width: 30%;
  float: left;
  list-style: none;
  z-index: 10;

  li {
    border-left: 1px solid #acacac;  
    border-right: 1px solid #acacac;

    &:first-child {
      border-top: 1px solid #acacac;
    }

    &:last-child {
      border-bottom: 1px solid #acacac;
    }
  }

  .list-title {
    float: left;
    color: #262627;
    font-family: FaktPro-SemiBold,sans-serif;
    width: 50%;
    line-height: 24px;
    word-break: break-all;
  }

  .add-to-list-button {
    background: #ccc;
    float: right;
    padding-right: 15px;
    min-width: 170px;

    &:hover {
      background-color: #808285;
    }
  }
}

.buttons.dlab-breakout-button li:nth-child(2n+1) {
  width: 100%;
  top: 560px;
  background-color: #e5e5e5;
  display: block;

}

.buttons.dlab-breakout-button li {
  width: 100%;
  float: left;
  padding: 20px;
  background-color: #fff;
  display: block;
}
